html body {
  margin: 0px;
  height: 100%;
  font: 10px sans-serif;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.histoShadow {
  fill: lightGrey;
}

/*.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}*/

/*.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}*/